##### THIS FILE IS BEING CURRENTLY MANAGED BY URXVTCONFIG #####
##### CHANGES DONE TO THIS FILE MANUALLY MAY AFFECT THE FUNCTIONALITY ######
##### PROCEED WITH CAUTION! #####

! special colors
*.foreground:  #d0d0d0
*.background:  #000000
*.cursorColor:  #d0d0d0

! black
*.color0:      #000000
*.color8:      #808080

! red
*.color1:      #cc0000
*.color9:      #ff0000

! green
*.color2:      #29cc00
*.color10:     #33ff00

! yellow
*.color3:      #ccaa00
*.color11:     #ffd500

! blue
*.color4:      #0052cc
*.color12:     #3370ff

! magenta
*.color5:      #a300cc
*.color13:     #cc00ff

! cyan
*.color6:      #00cccc
*.color14:     #00ffff

! white
*.color7:      #d0d0d0
*.color15:     #ffffff


URxvt.perl-ext-common:  resize-font

URxvt*scrollBar:         false
URxvt*scrollBar_right:   false

URxvt*transparent:       false

URxvt.font: xft:Noto Mono:pixelsize=16
URxvt.letterSpace: 0

*antialias:  true
*autohint:   false

